@import "tailwindcss";

/* Your custom css can stay here */
@layer base {
    @font-face {
        font-family: "circular-web";
        src: url("./public/fonts/circularweb-book.woff2") format("woff2");
        /*font-weight: 400;*/
        /*font-style: normal;*/
        /*font-display: swap;*/
    }

    @font-face {
        font-family: 'general';
        src: url('/fonts/general.woff2') format('woff2');
    }

    @font-face {
        font-family: 'robert-medium';
        src: url('/fonts/robert-medium.woff2') format('woff2');
    }

    @font-face {
        font-family: 'robert-regular';
        src: url('/fonts/robert-regular.woff2') format('woff2');
    }


    html {
        font-family: "circular-web", ui-sans-serif, system-ui, sans-serif;
    }
}
